/* место для вашего кода */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1340px;
  height: 109px;
  margin: 92px 50px;
}
/*-------------------------------------*/
.block__header {
  width: 100%;
  height: 100%;
}
/*-------------------------------------*/
.header__menu {
  display: flex;
  align-items: center;
  align-content: center;
  margin-top: 44px;
}

.header__menu-list {
  display: flex;
  list-style-type: circle;
  gap: 37px;
  font-size: 18px;
}
.header__menu-item {
  text-indent: -4px;
}
.header__menu-link {
}

.header__menu-item_active {
  list-style-type: none; /*убрал маркер списка*/
  text-decoration: none; /*убрал подчеркивание текста*/
  font-size: 18px;
}
/*-------------------------------------*/
.header__logo-image {
  display: block; /* тэг a строчный, 
  блок добавлен, что ыб реагировал на раземеры*/
  /*margin: 0px 596px 4px;*/
  width: 148px;
  height: 105px;
  margin-left: 150px;
}
/*-------------------------------------*/
.header__address {
  font-size: 18px;
  line-height: 24.3px;
  padding-top: 7px;
  padding-left: 207px;
}

/*-------------------------------------*/

.cover {
  /*вся секция*/
  position: relative;
  z-index: -2;
  width: 1440px;
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
}

.overlay {
  /*полупрозрачный блок поверх секции*/
  position: absolute;
  inset: 0;
  height: 757px;
  width: 1440px;
  z-index: 1;
  opacity: 0.6;
  background-color: #000;
}
/*-----------------------------------------------------------------*/
.cover__title {
  /*заголовок*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 30px;
  z-index: 2;
  
}

.aligned-text {
  /*классы для выравнивания строк текста и превращения 
  их в блочный элемент;*/
  flex-direction: row;
  margin: 165px 50px 0;
  line-height: 115%; /* 115px */
}

.letter-spacing-extended {
  /*класс для управления межбуквенным 
  расстоянием в местах, где есть эти акценты;*/
  margin-left: 30px;
  letter-spacing: 30px;
}

.aligned-text_center {
  /*классы для выравнивания строк текста и 
  превращения их в блочный элемент;*/
  margin: 20px 110px 20px 50px;
  flex-direction: row;
  line-height: 100%; /* 100px */
  padding-left: 454px;
}

.letter-spacing-extended_center {
  /*класс для управления межбуквенным 
  расстоянием в местах, где есть эти акценты;*/
  padding-left: 30px;
}

.aligned-text_right {
  /*классы для выравнивания строк текста и 
  превращения их в блочный элемент;*/
  margin: 0 50px 135px;
  line-height: 100%; /* 100px */
  display: block;
  letter-spacing: 31px;
}

.letter-spacing-extended_right {
  /*класс для управления межбуквенным 
  расстоянием в местах, где есть эти акценты;*/
  padding-left: 921px;
  letter-spacing: 61px;
}

.no-letter-spacing {
  /*класс для обнуления общего межбуквенного 
  расстояния для последней буквы*/
}

/*--------------------------------------------------------------*/
.cover__description {
  /*контейнер для подзаголовка и кнопки*/
  display: flex;
  margin: 0 50px 50px 422px;
  flex-direction: row;
  justify-content: space-between;
}

.cover__description-text {
  /*текст подзаголовка*/
  z-index: 2;
  color: #FFF;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 17px;
  padding-top: 13px;
}

.bet-button { /*кнопка «Сделать ставку»*/
  width: 258px;
  color: white;
  background-color: transparent;
  border: 1px solid #FFF;
  padding: 12px 32px;
  font-size: 22px;
  text-transform: uppercase;
  z-index: 2;
}
/*--------------------------------------------------------------*/

.lots { /* вся секция */
  display: flex;
  margin: 180px 50px;
  background-color: grey;
  height: 579px;
}
.lots__heading {/* заголовок секции*/
  color: #000;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  height: 47px;
  margin-left: 40px;
}
.lots__card-list { /* список карточек;*/
  display: flex;
  margin-top: 74px;
  margin-bottom: 55px;
  background-color: yellowgreen;
  gap: 25px;
  list-style-type: none;
}

.lots__card-list-item { /* пункт списка карточки;*/
  display: block;
  width: 430px;
  height: 450px;
  background-image: url(../images/card-lot-01.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.card-link { /* ссылка, обрамляющая карточку;*/
  
} 

.card { /* карточка;*/

}

.card_type_film .card_type_book .card_type_picture /* классы, чтобы задать 
определённый фон каждой из карточек;*/

.overlay { /* он уже есть у вас в коде;*/

}
.card__title { /* заголовок карточки;*/

}
.card__text { /* текст карточки;*/

}
.lots__look-more-link { /* ссылка «Посмотреть больше».*/

}







.pixel-perfect-image {
  position: fixed;
  width: 1440px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.5;
}
