/* место для вашего кода */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1340px;
  height: 109px;
  margin: 92px 50px;
}
/*-------------------------------------*/
.block__header {
  width: 100%;
  height: 100%;
}
/*-------------------------------------*/
.header__menu {
  display: flex;
  align-items: center;
  align-content: center;
  margin-top: 44px;
  
}

.header__menu-list {
  display: flex;
  list-style-type: circle;
  gap: 37px;
  font-size: 18px;
}
.header__menu-item {
  text-indent: -4px;
}
  .header__menu-link {
}

.header__menu-item_active {
  list-style-type: none; /*убрал маркер списка*/
  text-decoration: none;/*убрал подчеркивание текста*/
  font-size: 18px;
}
/*-------------------------------------*/
.header__logo-image {
  display: block; /* тэг a строчный, 
  блок добавлен, что ыб реагировал на раземеры*/
  /*margin: 0px 596px 4px;*/
  width: 148px;
  height: 105px;
  margin-left: 150px;
}
/*-------------------------------------*/
.header__address {
  font-size: 18px;
  line-height: 24.3px;
  padding-top: 7px;
  padding-left: 207px;
}

/*-------------------------------------*/


.cover { /*вся секция*/
  display: flex;
  width: 1440px;
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  position: relative;
  z-index: -1;
}

.overlay { /*полупрозрачный блок поверх секции*/
    position: absolute; 
    inset: 0;
    height: 757px;
    width: 1440px;
    z-index: 10;
    opacity: 0.6;
    background-color: #000;
}

.cover__title { /*заголовок*/
  display: block;
  position: relative; 
  z-index: 1;
}

.aligned-text { /*классы для выравнивания строк текста и превращения 
  их в блочный элемент;*/
  display: block;
  position: relative;
  z-index: 2;
}

.aligned-text_center { /*классы для выравнивания строк текста и 
  превращения их в блочный элемент;*/
  display: block;
  position: relative;
  z-index: 2;
}

.aligned-text_right { /*классы для выравнивания строк текста и 
  превращения их в блочный элемент;*/
  display: block;
  position: relative;
  z-index: 2;
}

.letter-spacing-extended { /*класс для управления межбуквенным 
  расстоянием в местах, где есть эти акценты;*/
  position: relative;
  font-weight: 700;

}

.no-letter-spacing { /*класс для обнуления общего межбуквенного 
  расстояния для последней буквы*/

}

.cover__description { /*контейнер для подзаголовка и кнопки*/

}

.cover__description-text { /*текст подзаголовка*/

}

.bet-button { /*кнопка «Сделать ставку»*/

}
.pixel-perfect-image {
  position: fixed;
  width: 1440px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.5;
}